*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(to top, rgba(0,0,0,.02), white);
    
}

.nav-bar{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    width: 100%;
    grid-template-areas: "nav nav space search";
    height: 100%;


}

.options-logo{
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-area: nav;
    grid-column-gap: 2px;
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    grid-area: search;
    padding: 5px 10px;
    border-left: 1px solid rgba(0,0,0,.4);
    color: rgba(0,0,0,.3);

    
}
.search:hover{
    color: rgba(0,0,0,.6);
    cursor: pointer;
}
.options{
    margin-top: 15px;
    text-align: center;
    
}
.options a{
    font-size: .8rem;
    color: rgba(0,0,0,.3);
    text-decoration: none;
    font-weight: 100;
    
    
}

.options a:hover{
        color: rgba(0,0,0,1);
}

.logo{
    background: linear-gradient(to bottom right,#c09,#f42 85%);;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 75px;
}

.main{
    margin-top: 3px;
    
}

.main-news{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: (2, auto);
    grid-template-areas:"main-new main-new new1"
                        "main-new main-new new2"
}

.apps{
    grid-area: main-new;
    background: url(../images/app-new.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.gradient-container{
    height: 100%;
    position: relative;
    color: white;
}
.date{
    position: absolute;
    right: 10px;
    top: 10px;

}



.creative{
    grid-area: new1;
}
.insigth{
    grid-area: new2;
}
.news{
    
}