*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: white;
    z-index: 1;
    
}

.nav-bar{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    width: 100%;
    grid-template-areas: "nav nav space search";
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,.02), white);

}

.options-logo{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-area: nav;
    grid-column-gap: 2px;
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    grid-area: search;
    padding: 5px 10px;
    border-left: 1px solid rgba(0,0,0,.4);
    color: rgba(0,0,0,.3);

    
}
.search:hover{
    color: rgba(0,0,0,.6);
    cursor: pointer;
}
.options{
    margin-top: 15px;
    text-align: center;
    
}
.options a{
    font-size: .8rem;
    color: rgba(0,0,0,.3);
    text-decoration: none;
    font-weight: 100;
    
    
}

.options a:hover{
        color: rgba(0,0,0,1);
}

.logo{
    background: linear-gradient(to bottom right,#c09,#f42 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 75px;
}

.main{
    margin-top: 3px;
    
}

.main-news{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: (2, auto);
    grid-template-areas:"main-new main-new new1"
                        "main-new main-new new2";
    grid-gap: 8px;
    height: 500px;
}

.apps{
    grid-area: main-new;
    background: url(../images/app-new.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    
}
.creative{
    grid-area: new1;
    background: url(../images/creative-main.jpg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
.insights{
    grid-area: new2;
    background: url(../images/insights-main.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.gradient-container{
    height: 100%;
    position: relative;
    color: white;
    background: linear-gradient(to bottom , rgba(0, 0, 0, .3), rgba(0,0,0,1));
}
.main-gradient{
    background: linear-gradient(to bottom right, rgba(237,132,132,.9) 60%, rgba(0,0,0,1));

    transition-duration: 2s;
}
.main-gradient .main-title{
        font-size: 2rem;
}

.second-gradient{
    height: 100%;
    background: linear-gradient(to bottom, rgba(241,71,71, .6), rgba(0,0,0,.8));
    

}
.second-gradient:hover{
    transition-duration: 2s;
    background: linear-gradient(to bottom, rgba(241,71,71, .06), rgba(0,0,0,.8));
}

.date{
    position: absolute;
    right: 10px;
    top: 10px;

}
.logo-main{
    width: 350px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.title-news{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
 
.creative{
    grid-area: new1;
}
.insigth{
    grid-area: new2;
}



.author{
    font-size: .7rem;
    font-weight: 100;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 30%;
    color: rgba(255,255,255,.7);
}
.author i{
    font-size: .9rem;
}
.author a{
    color: rgba(255,255,255,.7);
    text-decoration: none;

}
.author a:hover{
    color: rgba(255,255,255,1);
}
.apps-link{
    justify-content: flex-start;
}


/*End of the main news on the main part*/

.grid-news{
    width: 100%;
}

.latest-news{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .25fr;
    grid-auto-rows: 1fr;
    width: 60%;
    margin: auto;
    grid-template-areas: "title title title title";
    grid-gap: 10px;
    grid-row-gap: 20px;
    height: 80vh;
}
.latets-news-title{
    padding: 20px 0px;
    grid-area: title;
    font-size: 1.4rem;
    color: #ff4421;
    font-weight: 900;
    display: flex;
    align-items: center;

}
.latets-news-title:hover{
    color: #000000;
    cursor: pointer;
}
.latest-news img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;

}
.articles h1{
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
}
.articles h1:hover{
    color: #ff4421;
    cursor: pointer;
}
.articles .author, .articles a{
    color: rgb(126, 126, 126);
}
.articles a:hover{
    color: black;
}
.articles .author{
    width: 52%;
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
}

.latest-funding{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "header header header header";
    width: 60%;
    margin: auto;
    grid-gap: 20px;
}
.latest-funding-header{
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-areas: "title links";
    

}
.links-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    justify-content: space-around;
}
.title-links{
        padding: 0px 10px;
        border-right: 1px solid #fe6346;

}
.title-links:last-child{
    border: 0px;
}
.title-links a{
    color: #fe6346;
    text-decoration: none;
}
.title-links a:hover{
    color: black;
}
.funding{
    position: relative;
}

.funding img{
    position: absolute;
    max-width: 60px;
    max-height: 60px;
    top: 10px;
    left: 10px;
}
.funding .title{
    text-align: center;
    background: #ff4421;
    color: white;
    padding: 10px;
    font-weight: 100;
}

.found-funder{
    background: #ffebe7;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    padding-left: 29%;
    
}
.found-funder .author{
    
    color: gray;

}
.payments-capital{
    background: #fffaf8;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-row-gap: 10px;
    padding: 20px 10px;
    border-bottom:1px solid #ffcdc4;
}

.link-fund{
    background: #fffaf8;
    padding: 20px;
    
}
.link-fund .author{
    width: 50%;
    justify-content: flex-start;
    padding: 10px 0px;
    
}
.link-fund .author a{
    color: rgba(0,0,0,.4);

}

.link-fund .link a{
    font-size: 12px;
    line-height: 1.5rem;
    text-decoration: none;
    color: gray;
}




/* Media querys */

@media (max-width: 1400px){
    .latest-news{
        margin: 0px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "title title title";
    }
}
@media (max-width: 770px){
    .main-news{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
                "main-new "
                "new1"
                "new2";
        grid-gap: 8px;
        height: 100vh;
    }
    .header{
        height: 10vh;
        flex-direction: row;
    }

    .nav-bar{
        grid-template-rows: (2, 1fr);
        grid-template-areas: 
            "nav nav nav nav"
            "search search search space";
    }
    .second-gradient,
    .main-gradient{
        background: linear-gradient(to bottom , rgba(0, 0, 0, .1), rgba(0,0,0,.6));
        
    }
    .apps h1{
        font-size: 1rem;
    }
        
    .options{
        overflow: hidden;
    }
    .logo-main img{
        width: 0px;
    }

    .main-news{
        font-size: .5rem;
    }
    .author{
        width: 50%;
        grid-area: author;
    }

    .latest-news{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: "title";
        width: 100%;
        height: 100vh;
        grid-gap: 10px;

    }
    
    .news-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: image;
    }
    .news-image-container img{
        height: 75px;
        width: 75px;
        
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
                "image title";
    } 
    .articles .description{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: flex-start;
        grid-area: title;
        padding-top: 11px;
    }
    .articles .author{
        width: 26%;
    }



}